// main colors

$light-color: #ffffff;
$dark-color: #000000;
$active-color: #00b0ff;


// text colors

$text-dark-color: #000000;
$text-light-color: #ffffff;
$text-gray-color: #787878;
$text-active-color: $active-color;
