.header__logo a {
    /* название шрифта */
    font-family: "Montserrat", sans-serif;
    /* насыщенность шрифта */
    font-weight: bold;
    /* размер шрифта */
    font-size: 34px;
}

.header,
.header .menu ul,
.header .social-networks {
    display: flex;
}

.header .menu .menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    /* текст в верхнем регистре */
    text-transform: uppercase;
    /* внутренний отступ (первое число – отступ с верхнего края и нижнего, второе – с правого и левого) */
    padding: 7px 10px;
    /* внешний отступ (со значениями логика такая же) */
    margin: 0 5px;
    /* анимация свойств которые будут меняться */
    transition: 300ms;
}

.header .menu .menu__link:hover {
    color: $text-light-color;
    background-color: $active-color;
}

.header .social-networks .social-networks__link {
    width: 36px;
    height: 36px;
    background-color: $dark-color;
    /* задаем данное отображение чтобы мы могли выравнивать содержимое контейнера при помощи флексбоксов */
    display: flex;
    /* выравниваем по горизонтали по центру */
    justify-content: center;
    /* выравниваем по вертикали по центру */
    align-items: center;
    margin: 0 5px;
    /* задаем скругление углов */
    border-radius: 50px;
}

.header {
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.header {
    .hamburger {
        width: 30px;
        height: 15px;
        cursor: pointer;
        display: none;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: relative;
        &.active {
            .hamburger__item {
                &:nth-child(2) {
                    transform: rotate(250deg);
                    opacity: 0;
                }
                &:nth-child(1) {
                    transform: rotate(405deg);
                    top: 6px;
                }
                &:nth-child(3) {
                    transform: rotate(-405deg);
                    top: -6px;
                }
            }
        }
        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3) {
            width: 100%;
            border-bottom: 2px solid $dark-color;
            transition: 500ms;
            position: relative;
            top: 0;
        }
    }
}
